* {
  font-family: roboto, monospace, sans-serif;
  margin: 0;

}

body {
  background: #eee;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  margin: auto 0;
}

header {
  background: #333;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  padding: 10px;
}

nav a:hover {
  background-color: #555;
}

.logo {
  max-width: 100px;
  margin: auto 0;
}

.logo a {
  text-indent: -10000px;
}

.banner {
  display: box;
  display: flex;
  box-align: center;
  align-items: center;
  box-pack: center;
  justify-content: center;
}

.banner img {
  position: relative;
  max-height: 600px;
}

.banner_title {
  position: absolute;
  font-family: Oswald, monospace, sans-serif;
  text-align: center;
  font-size: 5em;
  font-style: normal;
  font-weight: bold;
  color: red;
  z-index: 1;
}

/* logo base styles */

a.logo_design {
  background: url(logoplaceholder.png) no-repeat center;
  background-size: 80%;
  margin: 10px;
}

/* Main Content base styles */
.content {
  margin: 20px;
  -webkit-box-shadow: 9px 10px 0px -6px rgba(0,0,0,0.41);
  -moz-box-shadow: 9px 10px 0px -6px rgba(0,0,0,0.41);
  box-shadow: 9px 10px 0px -6px rgba(0,0,0,0.41);
}

.content div {
  background: #fff;
  margin-bottom: 50px;
  padding: 10px;
  box-sizing: border-box;
}

.content h2 {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}



/* flex styles */



nav ul.logo{
  flex: 1 1 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

article {
  flex: 0 1 30%;
}


@media screen and (min-width: 768px) {

  nav ul {
    display: flex;
  }
  nav li {
    flex: 1 1 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }



  }  /* end media query */
